table {
  width: 100%;
  
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
  margin-top:10px;
  margin-left: 10px;
 
}
.pointer{
  cursor:pointer;
}
.row{
  margin-top:10px;
  margin-left: 10px;
}
.a{
margin-top:10px;
margin-left: 10px;
}
th{
color:yellow;
}
.b{
margin-left: 10px;
}