<div>
<h2 class="separador-modulos-h2 ">Recomendados del mes</h2></div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/imagenes/Articulos/Disco_Abrasivo.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Disco Abrasivo</h5>
          <p class="card-text">
            Disco-Abracol-Corte Metal 4 1/2 X 1/8A30T T-42 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/imagenes/Articulos/Esmeril.jpg" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">Esmeril</h5>
          <p class="card-text">Esmeril de 6 pulgadas marca Elite para uso profesional con base en hierro forjado para mayor estabilidad y protectores transparentes para mayor visibilidad.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/imagenes/Articulos/lijadora-orbital.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Lijadora Orbital</h5>
          <p class="card-text">Cuenta con Interruptor sellado contra el polvo para mayor durabilidad, construcción sellada de rodamientos de bola sellados para mayor vida útil y bolsa recolectora de polvo de gran capacidad con adaptador para extractor. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/imagenes/Articulos/Polichadora.jpg" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Polichadora</h5>
          <p class="card-text">
            Te permitirá simplificar cada trabajo y obtendrás finos acabados muy profesionales gracias a su diseño profesional.
          </p>
        </div>
      </div>
    </div>
  </div>